<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkupai">
		<div class="navbar-nav">
			<a class="navbar-title" href="/"><span class="icon-ai"></span></a>
			<div class="navbar-nav-left">
				/<a class="navbar-brand" href="https://card.syui.ai">card</a>
				/<a class="navbar-brand" href="https://manga.syui.ai">manga</a>
				/<a class="navbar-brand" href="https://bsky.app/profile/did:plc:4hqjfn7m6n5hno3doamuhgef">bluesky</a>
			</div>
		</div>
</nav>
